<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/4.1.3/jquery.min.js"></script>
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<body>
	<div class="container"><br/>
    	<div class="alert alert-success">
        	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        	<strong>Success!</strong> It is working as we expected.
    	</div>
	</div>
</body>
</html>